* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap&subset=cyrillic');
html, body {
  height: 100%;
}

body {
  font-family: 'Caveat', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;


}

.checkbox {
  display: none;
}

.checkbox + label {
  display: inline-block;
  position: relative;
  width: 235px;
  height: 65px;
  background: -webkit-linear-gradient(left, #252525 0, #ededed 45%, #74ADD7 55%, #007177 100%) 0 0;
  background: linear-gradient(to right,#252525 0, #ededed 45%, #74ADD7 55%, #6E6CCF 100%) 0 0;
  background-size: 650px 100%;
  border-radius: 70px;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
 box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.checkbox + label:before {
  content: "Off";
  width: 50px;
  height: 50px;
  position: absolute;
  left: 7px;
  top: 7px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  line-height: 50px;
 
  font-size: 15px;
  font-weight: bold;
  color: #252525;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease, -webkit-transform 150ms ease;
}
.checkbox + label:active:before {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.checkbox:checked + label {
  background-position-x: -350px;
}
.checkbox:checked + label:before {
  content: "On";
  color: #6E6CCF;
  left: 177px;
}


.module{

    display:block;
    padding:10px;
    background: linear-gradient(180deg, rgba(116, 173, 215, 0.9) 0%, rgba(110, 108, 207, 0.9) 100%);
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.module h1{
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 20px;
color: #FFFFFF;
}
.module p{

text-align: justify;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
color: #FFFFFF;
padding-left: 15px;
padding-right: 15px;
}
.module p:first-letter {
    text-transform: uppercase;
}

/* стилизация содержимого страницы */
body {
   
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
} 
  
/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    opacity: 1;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; 
    pointer-events: auto; 
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
/* при отображении модального окно */

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
 /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;

}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    align-items: center;
}
.modal-header img{
      display: block;
      margin: 0 auto; 
      width: 100%;
      height: 100%;
    }
/* свойства для кнопки "Закрыть" */
.close {
  padding-bottom: 80px;
    float: right;

    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    color: #226699;
    text-shadow: 0 1px 0 #fff;

    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #226699;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  text-align: center;
  color: #226699;
  font-size:22px;
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    padding-top:0;
    font-weight: bold;
    overflow: auto;
}
.modal-body span{
  color: #F4900C;
}